# 1. import dataset

In [1]:
import numpy as np
import pandas as pd

# 2. import dataset

In [2]:
df = pd.read_csv('../inputs/2_bins_financial_grade.csv')
df = df[['Fund profile: Fund name', 'Fund profile: Category group', 'Fund profile: Fund net assets', 'Grade', 'Financial performance']]
df = df.sort_values('Fund profile: Fund net assets', ascending=False)
df.shape

(75, 5)

In [3]:
df1 = df.groupby(['Financial performance','Grade']).agg({'Fund profile: Fund name':'count'}).reset_index()
df1

  Financial performance      Grade  Fund profile: Fund name
0                a. top     b. mid                        1
1                a. top  c. bottom                        5
2                b. mid     a. top                        3
3                b. mid     b. mid                       12
4                b. mid  c. bottom                        9
5             c. bottom     a. top                        1
6             c. bottom     b. mid                       18
7             c. bottom  c. bottom                       26

# 3. Top-Mid

In [4]:
df1 = df[df['Financial performance']=='a. top']
df1 = df1[df1['Grade']=='b. mid']

df2 = df[df['Financial performance']=='b. mid']
df2 = df2[df2['Grade']=='a. top']

df3 = pd.concat([df1,df2])
df3 = df3.sort_values('Fund profile: Fund net assets', ascending=False)
df3

,Fund profile: Fund name,Fund profile: Category group,Fund profile: Fund net assets,Grade,Financial performance
50,Parnassus Core Equity Fund,U.S. Equity Fund,1.923896e+10,a. top,b. mid
0,1919 Socially Responsive Balanced Fund,Allocation Funds,2.761868e+08,a. top,b. mid
47,New Alternatives Fund,International Equity Funds,2.530288e+08,b. mid,a. top
39,Mirova International Sustainable Equity Fund,International Equity Funds,1.840454e+07,a. top,b. mid

# 4. Mid

In [5]:
df2 = df[df['Financial performance']=='b. mid']
df2 = df2[df2['Grade']=='b. mid']
df2

,Fund profile: Fund name,Fund profile: Category group,Fund profile: Fund net assets,Grade,Financial performance
29,Domini Impact Equity Fund,U.S. Equity Fund,799581566.0,b. mid,b. mid
49,PAX LARGE CAP FUND,U.S. Equity Fund,761448655.0,b. mid,b. mid
12,Boston Trust Walden Equity Fund,U.S. Equity Fund,253733033.0,b. mid,b. mid
6,Aspiration Redwood Fund,U.S. Equity Fund,100113676.0,b. mid,b. mid
10,Boston Common ESG Impact U.S. Equity Fund,U.S. Equity Fund,39301388.0,b. mid,b. mid
64,Saturna Sustainable Equity Fund,International Equity Funds,12395340.0,b. mid,b. mid
40,Natixis Sustainable Future 2035 Fund,Allocation Funds,6609335.0,b. mid,b. mid
42,Natixis Sustainable Future 2045 Fund,Allocation Funds,5268450.0,b. mid,b. mid
41,Natixis Sustainable Future 2040 Fund,Allocation Funds,5112793.0,b. mid,b. mid
43,Natixis Sustainable Future 2050 Fund,Allocation Funds,4320307.0,b. mid,b. mid
44,Natixis Sustainable Future 2055 Fund,Allocation Funds,3329227.0,b. mid,b. mid
45,Natixis Sustainable Future 2060 Fund,Allocation Funds,3201978.0,b. mid,b. mid